html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  background: #000;
  width: 100vw;
  height: 100vh;
  /* Todo espaço da view-vw e vh 
    vw- Toda largura visivel
    vh - Toda altura visivel
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;

}

.container > div {
  background: #fff;
  width: 50%;
  height: 50%;

}

.center {
  justify-self: center;
  align-self: center;
}